<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

    <div style="border: 1px none; text-align: center;">
        <h1 style="font-size: 20px;">Forget Password!!!</h1>
        <div>
            <hr style="width: 60%; height: 2px; background-color: rgb(0, 0, 0);">
        </div>
    </div>

    <div id="email">

        <form method="post" action="" name="forget_form_email">{% csrf_token %}

            <div class="input-field" style="padding: 0px 30px; margin-bottom: 0px; margin-top: 20px;">
                <i class="material-icons prefix">email</i>
                <input id="icon_prefix" type="email" name="email" placeholder="enter your email" style="color: rgb(0,0,0);">
            </div>

            <div id = "empty_email" style="text-align : center;">
            </div>

            <div id = "message_email" style="text-align : center; margin-top : 30px; margin-bottom : 30px;">
            </div>

            <div style="text-align: center; margin-top: 10px;" id="div_submit_email">
                <button class="btn waves-effect waves-light" type="submit" style="padding: 0px 10px; margin: 0px; text-align: center; background-color: rgb(156, 133, 59);" id="submit_email">
                    Submit<i class="material-icons right">send</i>
                </button>
            </div>

        </form>

    </div>

    <div id="otp">

        <form method="post" action="" name="forget_form_otp">{% csrf_token %}

            <div class="input-field" style="padding: 0px 30px; margin-bottom: 0px; margin-top: 20px;">
                <i class="material-icons prefix">message</i>
                <input id="icon_prefix" type="text" name="otp" placeholder="enter otp" maxlength="6" style="color: rgb(0,0,0);">
            </div>

            <div id = "empty_otp" style="text-align : center;">
            </div>

            <div id = "message_otp" style="text-align : center; margin-top : 30px; margin-bottom : 30px;">
            </div>

            <div style="text-align: center; margin-top: 10px;">
                <button class="btn waves-effect waves-light" type="submit" style="padding: 0px 10px; margin: 0px; text-align: center; background-color: rgb(156, 133, 59);" id="submit_otp">
                    Submit<i class="material-icons right">send</i>
                </button>
            </div>

        </form>

        <script>$("#otp").hide();</script>

    </div>

    <div id="password">

        <form method="post" action="" name="forget_form_password">{% csrf_token %}

            <div class="input-field" style="padding: 0px 30px; margin-bottom: 0px; margin-top: 20px;">
                <i class="material-icons prefix">lock_outline</i>
                <input id="icon_prefix" type="password" name="new_password" placeholder="enter new password" style="color: rgb(0,0,0);">
            </div>

            <div id = "empty_password" style="text-align : center;">
            </div>

            <div class="input-field" style="padding: 0px 30px; margin-bottom: 0px; margin-top: 20px;">
                <i class="material-icons prefix">lock_outline</i>
                <input id="icon_prefix" type="password" name="confirm_password" placeholder="confirm entered password" style="color: rgb(0,0,0);">
            </div>

            <div id = "empty_confirm" style="text-align : center;">
            </div>

            <div id = "message" style="text-align : center; margin-top : 30px; margin-bottom : 30px;">
            </div>

            <div style="text-align: center; margin-top: 10px;">
                <button class="btn waves-effect waves-light" type="submit" style="padding: 0px 10px; margin: 0px; text-align: center; background-color: rgb(156, 133, 59);" id="submit_password">
                    Submit<i class="material-icons right">send</i>
                </button>
            </div>
        </form>
        <script>$("#password").hide();</script>
    </div>

    <script type="text/javascript">

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var otp;
        var user_email;

        $("#submit_email").click(function(e){
            e.preventDefault();
            var email = document.forms["forget_form_email"]["email"].value;
            var atpos = email.indexOf("@");
            var dotpos = email.lastIndexOf(".");
            if(email == ""){
                $("#empty_email").empty();
                $("#empty_email").append("Please fill your email id");
            }
            else if(atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= email.length){
                $("#empty_email").empty();
                $("#empty_email").append("Please enter valid email id");
            }
            else{
                $("#empty_email").empty();
                var csrftoken = getCookie('csrftoken');
                $.ajax({
                    url :  'http://127.0.0.1:8000/verify_email/',
                    type : "POST",
                    data : {
                        csrfmiddlewaretoken : csrftoken,
                        email : email,
                    },
                    success : function(json) {
                        if(json["signal"] == 1){
                            $("#submit_email").remove();
                            $("#email").hide();
                            $("#otp").show();
                            $("#message_otp").empty();
                            $("#message_otp").append(json["message"]);
                            otp = json["otp"];
                            user_email = email;
                            $("#empty_otp").append(otp);
                        }
                        else{
                            $("#message_email").empty();
                            $("#message_email").append(json["message"]);
                        }
                    },
                    error : function(xhr,errmsg,err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            }
        });

        $("#submit_otp").click(function(e){
            e.preventDefault();
            var main_otp = document.forms["forget_form_otp"]["otp"].value;
            if(main_otp.length < 6){
                $("#empty_otp").empty();
                $("#empty_otp").append("Please fill valid otp number");
            }
            else{
                $("#empty_otp").empty();
                var csrftoken = getCookie('csrftoken');
                $.ajax({
                    url :  'http://127.0.0.1:8000/verify_otp/',
                    type : "POST",
                    data : {
                        csrfmiddlewaretoken : csrftoken,
                        otp : otp,
                        main_otp : main_otp,
                    },
                    success : function(json) {
                        if(json["signal"]==1){
                                $("#submit_otp").remove();
                                $("#otp").hide();
                                $("#password").show();
                                $("#message_password").empty();
                                $("#message_password").append(json["message"]);
                        }
                        else{
                            alert("Your entered otp is wrong!!");
                            location.reload();
                        }
                    },
                    error : function(xhr,errmsg,err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            }
        });

        $("#submit_password").click(function(e){
            e.preventDefault();
            var password = document.forms["forget_form_password"]["new_password"].value;
            var confirm = document.forms["forget_form_password"]["confirm_password"].value;

            if(password.length < 6){
                $("#empty_password").empty();
                $("#empty_password").append("Password must be atleast 6 characters");
            }
            else if(confirm.length < 6){
                $("#empty_confirm").empty();
                $("#empty_confirm").append("Password must be atleast 6 characters");
            }
            else if(password != confirm){
                $("#empty_confirm").empty();
                $("#empty_password").empty();
                $("#empty_password").append("Password doesn't match");
                $("#empty_confirm").append("Password does't match");
            }
            else{
                $("#empty_confirm").empty();
                $("#empty_password").empty();
                var csrftoken = getCookie('csrftoken');
                console.log(user_email);
                console.log(password);
                $.ajax({
                    url :  'http://127.0.0.1:8000/change_password/',
                    type : "POST",
                    data : {
                        csrfmiddlewaretoken : csrftoken,
                        password : password,
                        email : user_email,
                    },
                    success : function(json) {
                        alert("Your password has been changed");
                        var sent_page = "http://"+window.location.hostname+":8000/login_page/";
                        window.location.href = sent_page;
                    },
                    error : function(xhr,errmsg,err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            }
        });
    </script>

</body>
</html>
