<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <div style="background-color: rgb(166, 96, 53); padding-bottom: 15px; padding-top: 15px;">

        <div style="display: inline-block; width: 19%; margin: 0px; font-size: 14px; color: rgb(255, 255, 255); text-align: center;">
            <a href="" style="color: rgb(255, 255, 255); font-size: 13px; font-weight: normal;">Use</a>
        </div>

        <div style="display: inline-block; width: 19%; margin: 0px; font-size: 13px; color: rgb(255, 255, 255); text-align: center;">
            <a href="" style="font-size: 13px; color: rgb(255, 255, 255); font-weight: normal;">About Us</a>
        </div>

        <div style="display: inline-block; width: 20%; margin: 0px; color: rgb(255, 255, 255); font-size: 13px; text-align: center;">
            <a href="" style="font-weight: normal; font-size: 13px; color: rgb(255, 255, 255);">Author</a>
        </div>

        <div style="display: inline-block; width: 35%; margin: 0px; color: rgb(255, 255, 255); font-size: 14px; text-align: right;">
            <a href="" style="font-weight: normal; font-size: 13px; color: rgb(255, 255, 255);">Shivam</a>
        </div>

    </div>


    <div style="border: 1px none; font-size: 17px; color: rgb(129, 69, 214); text-align: center; margin-top: 50px;">
        <h2 style="color: rgb(201, 64, 201); margin-top: 100px;">
            <a href="word.html" style="color: rgb(186, 63, 186);">Learn Words</a>
        </h2>
    </div>

    <div style="padding-left: 30px; padding-right: 30px;">
        <hr>
    </div>

    <div style="border: 1px none; font-size: 17px; color: rgb(129, 69, 214); text-align: center; margin-top: 50px;">
        <h2 style="color: rgb(89, 67, 30); margin-top: 100px;">
            <a href="question.html">Start Quiz</a>
        </h2>
    </div>

    <div style="padding-left: 30px; padding-right: 30px;"><hr></div>

</body>
</html>
